.direccionGrid{
    .cajasDireccion{
        display:flex;
        flex-direction:column;
        background-color:yellow;
        text-align:center;

        .direccionEnvio{
            background-color:red;
            display:flex;
            flex-direction:column;
            
        }
    }
}

